/*
Rosa: #F87575
Morado: #5C95FF
Negro: #b9e6ff
Gris: #721817
Amarrillo: #ECD444
Rosa: #d500f9
*/
/* Aqui va el mensaje o resltar una linea*/
html{
      font-family: 'Lilita One', cursive;font-family: 'Hind Siliguri', sans-serif;
    }

img{
    max-width: 100%;
    }

  a{
    text-decoration: none;
    color: #d500f9;
    }

a:hover{
  opacity: 0.1;
}


.title{
    text-transform: uppercase;
    text-align: center;
      }


.container  {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
              }

.content{
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: white;
    /*box-shadow: diferenciahorizontal diferenciavertical desenfoque amplitud color;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 3px;
    position: relative;
    overflow: scroll;
          }

  /*Nueva linea*/
  .content{
            padding:1em;
          }
              td{
                display:block;
                width: 100%;
                }

              th{
                display: none;
              }

  /*Nueva linea*/

.actions{
    position: absolute;
    top:1em;
    right:1em;
}

.close {
    height: 40px;
    width: 40px;
    color: white;
    border-radius:50%;
    background-color: #721817;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
          }
.fa-star {
    color:  #ECD444;
}

.table{
  width: 100%;
  border-spacing: 0;
}

.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){ background-color: #f3e5f5;}

.title-item{
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #c6426e;
  padding-bottom: 1em;*/
  font-size: 2em;
  border-bottom: solid 2px #C6426E;
  padding-bottom: 1em;
}

.address{
  font-weight: bold;
  color: #642B73;
  font-size: 1.2em;
  margin-top: 2em;
  display: inline-block;
}

.main-images{
  float: left;
  margin-right: 1em;
  height: 250px;
}

.position {
  background-color: #C6426E;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.5em;
}

@media (min-width:900px){
  th{
      display: table-cell;
    }

    td{
      width: auto;
      display: table-cell;
      }
    td:nth-of-type(1){
      font-size:1em;
    }
      .content{
        padding: 1.8em;
      }
}

@media (min-height:550px){
    .content{
        height: 500px;
    }
}
